.contact > h1{
    text-align: center;
    background-color: cornflowerblue;
}
.contact{
    padding: 20px;
    overflow: scroll;
    height: 200px;
    background-color: cyan;
    margin: 100px;
    position: flex;
    flex-wrap: wrap;
    
}
.contact > .letter{
    position: sticky;
    background-color: cadetblue;
    top:0px;
}
li{
list-style: none;

}
body{
    background-color: gray;
}
